.bar{
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.nvbr{
  background-color: #EFCA00;
}

.text{
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: bold;
  margin:0px;
}

.title{
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #525252;
  text-align: center;
}

.booktitle{
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #525252;
  text-align: left;
}

.price{
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #525252;
  text-align: right;
}

.iter{
  border:1px solid transparent;
}

.content{
  text-align: left;
  border-radius:10px;
  border-color: #EFCA00;
  background-color: transparent;
  padding: 15px;
}

#bookgroup{
  display: flex;
  align-items: center;
  justify-content: center;
}

