.title{
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.text{
  font-family: 'Roboto', sans-serif;
  padding:50px 10px 1px;
  font-size: 20px;
  margin:0px;
  font-weight: bold;
}

.iter{
  border:1px solid transparent;
  padding:5px;
}

.content{
  text-align: left;
  border-radius:10px;
  border-color: #EFCA00;
  background-color: transparent;
  padding:20px;
  width:75vw;

}

.container{
  margin:0px auto;
  text-align: center;
}
