h2{
  text-align: center;
}
.persons {
  padding: 0;
}
.persons a {
  display: block;
  background: yellow;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 5px;
  text-decoration: none;
}

.persons a > div {
  display: flex;
}

.persons a > div > .name {
  flex: 1;
}
  